<!--{include common/meta.inc}-->
</head>
<body class="gray-bg">
    <div class="wrapper wrapper-content animated fadeInRight">
        <div class="row">
            <div class="col-sm-12">
                <div class="ibox float-e-margins">
                    <!--{include common/crumb.inc}-->
                    <div class="ibox-content">
                        <!--{include common/filter.tpl}-->
                        <div class="table-responsive">
                            <table class="table table-bordered">
                                <thead>
                                    <tr>
                                        <th><input type="checkbox" id="checkall" {if empty($list)} disabled="disabled" {/if} /></th>
                                        <th>产品编号</th>
                                        <th>产品名称</th>
                                        <th>归集卡种</th>
                                        <!-- <th>产品类目</th> -->
                                        <th>库存数量</th>
                                        <th>库存日志</th>
                                        <th>规格属性</th>
                                        <th>操作</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {if empty($list)}
                                    <tr>
                                        <table>
                                            <tr><td>暂无数据</td></tr>
                                        </table>
                                    </tr>
                                    {/if}
                                    {foreach $list $k $v}
                                    <tr id="item-{$v['pro_id']}">
                                        <td>
                                            <input type="checkbox" class="i-checks" value="{$v['pro_id']}" />
                                        </td>
                                        <td>
                                            <a href="{url:'product-add-id-%s~' , $v['pro_id']}">
                                                {$v['pro_no']}
                                            </a>
                                        </td>
                                        <td>{$v['pro_name']}</td>
                                        <td>{$pro_type[$v['pro_type']]}</td>
                                        <!-- <td>{if $v['pro_cate']}{$cate_type[$v['pro_cate']]}{else}未分类{/if}</td> -->
                                        <td>
                                            {if $v['pro_store'] < 50}
                                            <span class="btn btn-xs btn-danger">{$v['pro_store']}</span>
                                            {else}
                                            <span class="btn btn-xs btn-success">{$v['pro_store']}</span>
                                            {/if}
                                        </td>
                                        <td>
                                            <a href="{url:'product-log-id-%s~' , $v['pro_id']}">
                                                <i class="fa fa-database"></i>
                                            </a>
                                        </td>
                                        <td>{$v['pro_attr']}</td>
                                        <td>
                                            <a href="{url:'product-store-id-%d' , $v['pro_id']}" class="btn btn-xs btn-primary">
                                                <i class="fa fa-pencil"></i>调库存
                                            </a>

                                            <a href="{url:'product-del-id-%d' , $v['pro_id']}" data-confirm="产品和库存日志会同时删除，此操作不可撤销，确认吗？" data-target="#item-{$v['pro_id']}" class="btn btn-xs btn-danger btn-delete">
                                                <i class="fa fa-trash-o"></i>删除
                                            </a>
                                        </td>
                                    </tr>
                                    {/foreach}
                                </tbody>
                            </table>
                        </div>
                        <!--{include common/pagination.inc}-->

                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5><i class="fa fa-support"></i> 库存统计</h5>
                    </div>
                    <div class="ibox-content">
                        <div class="table-responsive">
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th>种类</th>
                                        <th>总计（库存/兑码）</th>
                                        <th>未使用</th>
                                        <th>已登记</th>
                                        <th>已完成</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {foreach $statistic $k $v}
                                    <tr>
                                        <td>{$v['name']}</td>
                                        <td>{$v['store_total']|int}/{$v['nums']}</td>
                                        <td>{$v['unuse']}</td>
                                        <td>{$v['register']}</td>
                                        <td>{$v['complate']}</td>
                                    </tr>
                                    {/foreach}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--{include common/js.inc}-->
    <script src="{__CTPL_URL__}js/filter.js"></script>

</body>

<!--{include common/footer.inc}-->
