<!--{include common/meta.inc}-->
</head>
<body class="gray-bg">
    <div class="wrapper wrapper-content animated fadeInRight">
        <div class="row">
            <div class="col-sm-12">
                <div class="ibox float-e-margins">
                    <!--{include common/crumb.inc}-->
                    <div class="ibox-content">
                        <!--{include common/filter.tpl}-->
                        <div class="table-responsive">
                            <p class="text-warning">产品编号：{$data['pro_no']}</p>
                            <p class="text-warning">产品名称：{$data['pro_name']}</p>
                            <table class="table table-bordered">
                                <thead>
                                    <tr>
                                        <th>操作前库存</th>
                                        <th>操作后库存</th>
                                        <th>操作人</th>
                                        <th>操作类型</th>
                                        <th>付款状态</th>
                                        <th>备注说明</th>
                                        <th>操作时间</th>
                                        <th>删除</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {if empty($list)}
                                    <tr>
                                        <table>
                                            <tr><td>暂无数据</td></tr>
                                        </table>
                                    </tr>
                                    {/if}
                                    {foreach $list $k $v}
                                    <tr id="item-{$v['log_id']}">
                                        <td>{$v['ori_store']}</td>
                                        <td>{$v['opd_store']}</td>
                                        <td>{$v['op_admin']}</td>
                                        <td>
                                            {$v['op_type']}
                                        </td>
                                        <td>
                                            {if $v['op_status'] == '未付'}
                                            <span class="btn btn-xs btn-danger">
                                            {else}
                                            <span class="btn btn-xs btn-success">
                                            {/if}
                                            {$v['op_status']}
                                            </span>
                                        </td>
                                        <td>
                                            {$v['op_remark']}
                                            <a href="javascript:;" class="modify-log" data-ori="{$v['op_remark']}" data-logid="{$v['log_id']}" data-status="{$v['op_status']}">
                                                <i class="fa fa-pencil"></i>
                                            </a>
                                        </td>
                                        <td>{$v['op_time']}</td>
                                        <td>
                                            <a href="{url:'product-logdel-id-%d' , $v['log_id']}" data-confirm="产品和库存日志会同时删除，此操作不可撤销，确认吗？" data-target="#item-{$v['log_id']}" class="btn btn-xs btn-danger btn-delete">
                                                <i class="fa fa-trash-o"></i>
                                            </a>
                                        </td>
                                    </tr>
                                    {/foreach}
                                </tbody>
                            </table>
                        </div>
                        <!--{include common/pagination.inc}-->

                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="modify-log" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">修改</h4>
                </div>
                <div class="modal-body">
                    <form action="{url:'@%s-save' , $_MODULE}" method="post" id="sform" class="form-horizontal">
                        <input type="hidden" id="log_id" />
                        <div class="form-group">
                            <label class="col-sm-3 control-label">付款状态</label>
                            <div class="col-sm-9">
                                <select name="log[op_status]" id="op_status" class="form-control">
                                    <option value="已付">已付</option>
                                    <option value="未付">未付</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">备注说明</label>
                            <div class="col-sm-9">
                                <textarea class="form-control" id="op_remark"></textarea>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                    <button type="button" class="btn btn-primary" id="log_submit">确定</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal -->
    </div>

    <!--{include common/js.inc}-->
    <script src="{__CTPL_URL__}js/filter.js"></script>
    <script type="text/javascript">
        $('.modify-log').on('click' , function() {
            var id = $(this).attr('data-logid');
            var remark = $(this).attr('data-ori');
            var status = $(this).attr('data-status');

            $('#log_id').val(id);
            $('#op_remark').val(remark);
            $('#op_status').val(status);
            $('#modify-log').modal();
        });

        /**
         * 修改提交
         * @param  {[type]} ) {                   } [description]
         * @return {[type]}   [description]
         */
        $('#log_submit').on('click' , function() {
            var id = $('#log_id').val();
            var remark = $('#op_remark').val();
            var status = $('#op_status').find("option:selected").val();

            $.ajax({
                'url' : "{url:'product-logsave-~'}",
                'type': "POST",
                'data': "log[log_id]=" + id + "&log[op_remark]=" + remark + "&log[op_status]=" + status,
                success: function(data) {
                    if (data.code == 0 ) {
                        RGX.msg('操作成功');
                        location.href = location.href;
                    }else{
                        RGX.msg(data.msg);
                    }
                },
                error: function (data) {
                    RGX.msg('服务端异常');
                    return false;
                }
            });
        });
    </script>
</body>

<!--{include common/footer.inc}-->
