<!--{include common/meta.inc}-->
</head>
<body class="gray-bg">
    <div class="wrapper wrapper-content animated fadeInRight">
        <div class="row">
            <div class="col-sm-12">
                <div class="ibox float-e-margins">
                    <!--{include common/crumb.inc}-->
                    <div class="ibox-content">
                        <!--{include common/filter.tpl}-->
                        <div class="table-responsive">
                            <p class="text-warning">产品编号：{$data['pro_no']}</p>
                            <p class="text-warning">产品名称：{$data['pro_name']}</p>
                            <table class="table table-bordered">
                                <thead>
                                    <tr>
                                        <th>操作前库存</th>
                                        <th>操作后库存</th>
                                        <th>操作类型</th>
                                        <th>备注说明</th>
                                        <th>操作时间</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {if empty($list)}
                                    <tr>
                                        <table>
                                            <tr><td>暂无数据</td></tr>
                                        </table>
                                    </tr>
                                    {/if}
                                    {foreach $list $k $v}
                                    <tr id="item-{$v['log_id']}">
                                        <td>{$v['ori_store']}</td>
                                        <td>{$v['opd_store']}</td>
                                        <td>
                                            {if $v['op_type'] == '增加'}
                                            <span class="btn btn-xs btn-danger">
                                            {else}
                                            <span class="btn btn-xs btn-success">
                                            {/if}
                                            {$v['op_type']}
                                            </span>
                                        </td>
                                        <td>{$v['op_remark']}</td>
                                        <td>{$v['op_time']}</td>
                                    </tr>
                                    {/foreach}
                                </tbody>
                            </table>
                        </div>
                        <!--{include common/pagination.inc}-->

                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--{include common/js.inc}-->
    <script src="{__CTPL_URL__}js/filter.js"></script>
    <script type="text/javascript">
        $('.order-operate a').on('click' , function() {
            var id = $(this).attr('data-oid');
            var order_status = $(this).attr('data-status');
            var url = "{url:'order-change-status-#SAT#-id-~'}" + id;
            url = url.replace('#SAT#' , order_status);
            console.log(url);
        });
    </script>
</body>

<!--{include common/footer.inc}-->
